.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4rem;
    align-items: center;
    gap: 4rem;
}

.s-text {
    font-size: 1.6rem;
    font-weight: 400;
}

.s-text>span:nth-of-type(1) {
    font-size: 1.6rem;

    color: var(--bViolet);
}

.s-text>span:nth-of-type(2) {
    font-size: 1.2rem;
}

.s-img {
    width: 100vw  !important;
    height: 110vh;
}

.s-img img {
    width: 100%;
    height: 100%;
    
}