.floatingdiv{
    background: var(--bViolet);
    display: flex;
    justify-content: space-around;
    box-shadow: var(--boxShadow);
    border-radius: 17px;
    align-items: center;
    padding: 0 28px 0 0;
    height: 3.5rem;
}

.floatingdiv>img{
    transform: scale(.3);
}

.floatingdiv>span{
    font-size: 16px;
    font-family: sans-serif;
}